* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
}

.main {
    width: 40%;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(243, 243, 243);
}

table {
    width: 100%;
    text-align: left;
    background-color: white;
    border: solid 2px grey;
    padding: 5px;
}

td,
th {
    padding: 5px;
}

tr th {
    background-color: teal;
    color: white;
}